{% extends 'base_template.html' %}
{% load static %}

{% block title %}
Queue service
{% endblock title %}

{% block body_data %}
    <div class="page-hero d-flex align-items-center justify-content-center">
        <h1>Queue service</h1>
    </div>
    <div class="page-hero d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-outline-secondary" id="runQueueService">Run service</button>
        <br>
        <div class="spinner-border text-secondary" id="queueServiceSpinner" style="display: none;"></div>
    </div>
    <br>
    <div class="page-hero d-flex align-items-center justify-content-center">
        <div class="alert alert-success alert-dismissible" id="queueServiceSuccess" style="display: none;">
            <button type="button" class="close">&times;</button>
            <strong>Success!</strong> Queue service successfully executed.
        </div>
    </div>
    <div class="page-hero d-flex align-items-center justify-content-center">
        <div class="alert alert-danger alert-dismissible" id="queueServiceError" style="display: none;">
            <button type="button" class="close">&times;</button>
            <strong>Error!</strong> Problem occured during Queue service execution.
        </div>
    </div>
{% endblock body_data %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'services/queue_service.js' %}"></script>
{% endblock custom_js %}
