<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Block in which we can add custom CSS -->
    {% block custom_css %}{% endblock custom_css %}
</head>
<body>
<!-- Header -->
{% include 'header.html' %}

{% block body_data %}{% endblock body_data %}


<!-- Footer -->
{% include 'footer.html' %}

<!-- Block in which we can add custom JS -->
{% block custom_js %}{% endblock custom_js %}
</body>
</html>