<!-- Header -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">S4S Web</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Data
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'all countries list' %}">Countries</a></li>
                    <li><a href="{% url 'all leagues list' %}">Leagues</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="#">Country Service</a></li>
                <li><a href="#">League Service</a></li>
                <li><a href="#">Season Service</a></li>
                <li><a href="#">Queue Service</a></li>
                <li><a href="#">Team Service</a></li>
                <li><a href="#">Match Services</a></li>
                <li><a href="#">Player Services</a></li>
                </ul>
            </li>
        </ul>
</div>
</nav>