<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">S4S Web</a>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navdatadrop" data-toggle="dropdown">
                    Data
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'all countries list' %}">Countries</a>
                    <a class="dropdown-item" href="{% url 'all leagues list' %}">Leagues</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navservicesdrop" data-toggle="dropdown">
                    Services
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'country service' %}">Country Service</a>
                    <a class="dropdown-item" href="{% url 'league service' %}">League Service</a>
                    <a class="dropdown-item" href="{% url 'season service' %}">Season Service</a>
                    <a class="dropdown-item" href="{% url 'queue service' %}">Queue Service</a>
                    <a class="dropdown-item" href="{% url 'team service' %}">Team Service</a>
                    <a class="dropdown-item" href="{% url 'match services' %}">Match Services</a>
                    <a class="dropdown-item" href="{% url 'player services' %}">Player Services</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
