<h1>{{ match.first_team }} vs {{ match.second_team }}</h1>
<h3>Date: {{ match.date }}</h3>
<h3>Season: {{ match.queue.season.description }}</h3>
<h3>Queue nr: {{ match.queue.number }}</h3>
<h3><a href="{{ match.transfermarkt_hyperlink }}">Transfermarkt Hyperlink</a></h3>
<h3>Goals:</h3>
{% if match.goal_set.all %}
    {% for goal in match.goal_set.all %}
        <li>Goal by {{ goal.player }}</li>
    {% endfor %}
{% else %}
    <li>No goals in match</li>
{% endif %}
<h3>Assists:</h3>
{% if match.assist_set.all %}
    {% for assist in match.assist_set.all %}
        <li>Assist by {{ assist.player }}</li>
    {% endfor %}
{% else %}
    <li>No assists in match</li>
{% endif %}