{% extends 'base_template.html' %}
{% load render_table from django_tables2 %}

{% block title %}
Player - {{ player }}
{% endblock title %}

{% block body_data %}
    <h1>{{ player }}</h1>
    <h4>Date of birth: {{ player.date_of_birth }}</h4>
    <h4>Position: {{ player.position }}</h4>
    <h4>Dominating foot: {{ player.foot }}</h4>
    <h4>Agency: {{ player.agency }}</h4>
    <h4><a href="{{ player.transfermarkt_hyperlink }}">Transfermarkt Hyperlink</a></h4>

    <h4>Goals:</h4>
    <h5>Amount: {{ player.goal_set.count }}</h5>
    {% render_table goal_table %}

    <h3>Assists:</h3>
    <h5>Amount: {{ player.assist_set.count }}</h5>
    {% render_table assist_table %}
{% endblock body_data %}
